#title
{
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
    font-weight: 500;
    color: rgba(27, 2, 103, 0.75);
}

#description
{
    font-size: 0.8vw; color: dimgray;
}

#drow
{
    padding: 1vw;
    background-color: white;
    box-shadow: 0px 4px 8px 4px rgb(230,230,230);
    border: transparent;
    border-radius: 0.5vw;
    width: 100%;
    margin: auto;
    height: fit-content;
}

#span
{
    background-color: rgb(255, 239, 239);border: hidden; border-radius: 1vw; height: fit-content; width: fit-content;color: rgb(249,107,36); font-size: 0.8vw; 
    padding: 0.2vw 0.5vw; font-weight: 500;display: flex; margin-right: 0.5vw;
}

hr
{
    margin: 1vw 0;
}

#p
{
  font-size: 0.8vw; color: dimgray;
}